@CHARSET "UTF-8";

#slide {
	width: 930px;
	height: 300px;
	padding: 0;
	/* border: 1px solid #429DDF; */
	margin-top : 10px;
	border-radius: 10px;
	overflow: hidden;
}

#slide img {
	width: 600px;
	height : 300px;
	overflow: hidden;
	margin-left: 60px;
}