@CHARSET "UTF-8";

#sub_text_sub {
	z-index: 1;
	width: 930px;
	margin: 0;
	padding: 0;
	padding-left: 1%;
	position: relative;
	float: left;
}

#text1 {
	width: 180px;
	height: 50px;
	font-size: 25px;
	font-weight: bold;
	position: relative;
	float: left;
}

#sub_text {
	width: 180px;
	height: 40px;
	padding: 2px 0px 0px 8px;
	font-size: 25px;
	font-weight: bold;
	border-radius: 10px; box-shadow : 3px 3px 5px #FF3AA6; background :
	linear-gradient( to top, #FFC6C6, #FF3AA6); color : white;
	position: relative;
	float: left;
	box-shadow: 3px 3px 5px #FF3AA6;
	background: linear-gradient(to top, #FFC6C6, #FF3AA6);
	color: white;
}

#sub_content_2 {
	z-index: 1;
	width: 930px;
	margin: 0;
	margin-top: 2%;
	padding: 0;
	padding-left: 0.5%;
	position: relative;
	float: left;
}

#content_sub_image {
	width: 30%;
	border: 0px solid black;
	margin: 0;
	margin-right: 3%;
	position: relative;
	float: left;
}

#content_text {
	width: 186px;
	height: 40px;
	margin: 0;
	margin-top: 8px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #FF3AA6; background : linear-gradient( to top,
	#FFC6C6, #FF3AA6); color : white; padding : 0;
	padding-left: 10px;
	position: relative;
	float: left;
	padding: 0;
	color: white;
	background: linear-gradient(to top, #FFC6C6, #FF3AA6)
}

#content_text ul {
	display: inline;
	list-style: none;
}

#content_text ul li {
	float: left;
	margin-left: 217px;
	font-size: 30px;
}

#content_text table {
	width: 900px;
	height: 300px;
	float: left;
}

.t_text {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 18px;
}