@CHARSET "UTF-8";

#sub_content {
	width: 930px;
	height : 300px;
	margin: 0;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0;
	position: relative;
	border : 0px solid black;
	float: left;
}

#content_image {
	width: 450px;
	height: 300px;
	border: 5px solid black;
	border-radius: 5px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	border : 0px solid black;
	float: left;
}

#content_image img {
	width: 430px;
	height : 280px;
	box-shadow : 5px 5px 11px black;	
	border-radius : 10px;
	overflow: hidden;
	position: relative;
}

#com {
	width: 400px;
	border: 0px solid black;
	margin: 0;
	padding: 0;
	position: relative;
	border : 0px solid black;
	float: right;
}

#weather {
	width: 400px;
	height : 90px;
	border : 0px solid black;
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
}

#board {
	width: 400px;
	height: 200px;
	border: 0px solid black;
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
}