@CHARSET "UTF-8";

#checklist {
	width: 930px;
	height: 200px;
	margin-top: 12px;
	border: 0px solid black;
	position: relative;
	float: left;
}

#checktext {
	width: 100px;
	height: 100px;
	/* border-bottom : 1px solid #5191D9; */
	text-align: center; position : relative;
	float: left;
	position: relative
}

#check_box {
	width: 800px;
	height: 100px;
	position: relative;
	border: 0px solid black;
	font-size: 20px;
	font-weight: bold;
	float: right;
}

#chect_box ul {
	display: inline;
}

#check_box ul li {
	float: left;
	list-style: none;
	margin-left: 30px;
}

#list_search {
	z-index:2;
	width: 930px;
	height: 50px;
	border: 0px solid black; 
	position : relative;
	float: left;
	position: relative
}


#search_btn {
	width : 76px;
	height : 30px;
	font-size : 15px;
	margin: 10px 23px 0 0;
	float: right;
}


#line {
	width : 930px;
	height : 50px;
	position : relative;
	border-bottom : 2px solid #5191D9;
	float : left;
	background-color : #FF5E80;
	overflow : hidden;
}

#line h2{
	margin-top : 7px;
	margin-left : 22px;
	font-size : 27px;
	font-weight: bold;
	color : white;
}

#search_box ul{
	display : inline;
	list-style : none;
}

#search_box ul li {
	font-size : 20px;
	font-width : bold;
	margin-top : 10px;
	margin-left : 30px;
	padding-right : 10px;
	border-right : 1px solid #5191D9;
	float : left;
}