@CHARSET "UTF-8";
body {border:0px solid #CC44CC}
div.header {
	border-bottom:1px;
	border:1px solid #DDDDDD;
	width:1098px;height:100px}
div.wrap {border:0px solid #DDDDDD;width:auto;height: auto !important;}
div.left {
	top:100px;float:left;
	border:0px solid #DDDDDD;
	border-right:0px solid #DDDDDD;
	width:161px;height:871px}
div.contents {float:left;padding:0px;border:0px solid #CC44CC;width:938px;height:auto;margin-bottom:50px} <!--776px -->
div.right {top:100px;float:right;border:0px solid #5DA1B4;width:453px;height:555px}
div.footer {height:60px;border:0px solid black;}