@CHARSET "UTF-8";

*{
	margin : 0;
	padding : 0;
}

#main{
	
	width : 930px;
	height : 2000px;
	margin : 0 auto 0 auto;
	padding : 0;
	border : 0px solid black;
}

#top{
	width : 930px;
	height : 150px;
	border : 0px solid black;
	position : relative;
	float : left;
}

#content{
	width : 930px;
	border : 0px solid black;
	position : relative;
	float : left;
}

#footer{
	width : 930px;
	height : 100px;
	border : 0px solid black;
	position : relative;
	float : left;
}