@CHARSET "UTF-8";
*{
	margin : 0;
	padding : 0;
}

#logo{
	width : 740px;
	height : 100px;
	position : relative;
	float : left;
}

#member{
	width : 215px;
	heigth : 30px;
	margin-top : -51px;
	position : relative;
	float : right;
}

#menu{
	width : 930px;
	height : 47px;
	background : linear-gradient(to top, #5191D9,#00D8FF);
	position : relative;
	float : left;
}

#menu ul li{
	display : inline;
	list-style : none;
	float : left;
	text-align : center;
	font-weight : bold;
	color : white;
	text-shadow : 1px 1px 3px #909090;
	width : 110px;
	height : 35px;
	padding-top : 12px;
}
#menu ul li a {
	font-size:11pt;
}
#menu ul li:hover{
	color : #0FEFCD;
	text-shadow : 0px 0px 0px ;
}



#d{
	width : 500px;
	height : 500px;
	border : 1px solid black;
	margin-top : 300px;
}

a{
	text-decoration: none;
}