@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#slider {
	width: 930px;
	height: 270px;
	margin-top: 10px; border : 0px solid black;
	position: relative;
	float: left;
	border: 0px solid black
}

#content {
	width: 930px;
	height: 1030px;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
}

#content_sub_text {
	width: 155px;
	height: 40px;
	margin-top: 25px;
	margin-left : 10px;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #FFB3C2;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: linear-gradient(to top, #FF53AC, #FFB3C2);
	position: relative;
	float: left;
}

#content_sub {
	width: 930px;
	height: 300px;
	margin-top: 15px;
	border: 0px solid black;
	position: relative;
	float: left;
}

#content_top_image {
	width: 410px;
	height: 300px;
	margin-left : 10px;
	border-radius: 20px;
	box-shadow: 2px 2px 3px #FFB3C2; border : 1px solid black;
	position: relative;
	overflow : hidden;
	float: left;
	border: 0px solid black
}

#content_top_image img{
	width : 410px;
	height : 300px;
}

#content_board_girl {
	width: 240px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 2px 2px 3px #FFB3C2;
	border: 0px solid black;
	float: right;
	overflow: hidden;
}

#content_board_boy {
	width: 240px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 2px 2px 3px #FFB3C2;
	border: 0px solid black;
	margin-right: 10px;
	float: right;
	overflow: hidden;
}

#girl {
	width: 240px;
	height: 34px;
	color: white;
	font-size: 20px;
	font-weight: bold; padding-top : 10px;
	padding-left: 5px;
	border-bottom: 2px solid black;
	background: linear-gradient(to top, #FF53AC, #FFB3C2);
	padding-top: 10px
}

#boy {
	width: 240px;
	height: 35px;
	color: white; 
	font-size : 20px; 
	font-weight : bold;
	padding-top: 5px;
	padding-left: 10px;
	border-bottom: 2px solid black;
	background: linear-gradient(to top, #429DDF, #0CCDF9);
	font-size: 20px;
	font-weight: bold;
}

#t_text{
	width: 135px;
	height: 40px;
	margin-top: 10px;
	margin-left : 10px;
	padding-top: 10px;
	padding-left: 20px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #FFB3C2;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: linear-gradient(to top, #FF53AC, #FFB3C2);
	position: relative;
	float: left;
}

#content_t_image{
	width : 930px;
	height : 300px;
	margin : 0;
	padding : 0;
	margin-top : 15px;
	border : 0px solid black;
	position : relative;
	float : left;
}

#content_t_image ul li{
	width : 290px;
	height : 300px;
	border-radius : 10px;
	border : 0px solid black;
	overflow : hidden;
	box-shadow : 2px 2px 3px #FF53AC;
	margin-left : 15px;
	display : inline;
	list-style : none;
	float : left;
}

#content_list_text{
	width : 930px;
	height : 40px;
	margin-top : 25px;
	border : 0px solid black;
	position : relative;
	float : left;
}

#content_list_text ul li{
	width : 110px;
	height : 40px;
	margin-left : 180px;
	border: 0px solid black;
	display : inline;
	list-style : none;
	float : left;
	overflow : hidden;
	padding-top : 8px;
	padding-left : 15px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #FFB3C2;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: linear-gradient(to top, #FF53AC, #FFB3C2);
}

.c_image img{
	width : 290px;
	height : 300px;
}


